p, h1, h2, h3, a{
    color: white;
}

h1,h2,h3,a{
    font-weight: var(--fw-semi-bold);
}

.app{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}